*{
    padding: 0px;
    margin: 0px;}

    .top-box{
        background-color: lightgray;
        width: 1000px;
    }
.big-box{
    background-color: rgb(72, 73, 73);
    width: 1000px;
    height: 1500px;
}
    h1{
        display: inline-block;
        font-family: "Comic Sans MS";
    }

    h2{
        display: block;
        float: right;
    }
img{
    display: inline-block;
    float: left;
}


.about-me{
    border: solid black;
    width: 500px;
    height: 200px;
    display: inline-block;
    background-color: lightgray;
    margin-left: 200px;
    

}
.left-box{
    border: solid black;
    background-color: lightgrey;
    width: 317px;
    height: 325px;
    display: inline-block;
    float: left;
}

.middle-box{
    border: solid black;
    background-color: lightgrey;
    width: 317px;
    height: 325px;
    display: inline-block;
}

.right-box{
    border: solid black;
    background-color: lightgrey;
    width: 317px;
    height: 390px;
    display: inline-block;
}

